{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ section.title }}{% endblock title %}</title>
    <meta property="og:title" content="{{ section.title }}" />
    {% if section.description %}<meta property="og:description" content="{{ section.description }}" />{% endif %}
    <meta property="og:url" content="{{ section.permalink }}" />
    <meta name="twitter:card" content="summary"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "_variables.html" %}
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path="avatar.css") }}">
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block header %}
    <header class="box-shadow">
        {{ macros::render_header() }}
    </header>
    {% endblock header %}

    <main class="blog">
        <div class="blog content text">
            {% block content %}
                {% for page in paginator.pages %}
                <a href="{{ page.permalink }}"><h2 class="heading-text">{{ page.title }}<br/><span class="subtitle-date">{{ page.date }}</span></h2></a>
                {% endfor %}
            {% endblock content %}
        </div>
    </main>

    {% block footer %}
    <footer>
        <small class="subtext">
            By <a href="https://blog.coderspirit.xyz">Andrés Correa Casablanca</a> © 2020
        </small>
    </footer>
    {% endblock footer %}
</body>

</html>