{% import "_macros.html" as macros %}
{% extends "index.html" %}

{% block title %}{{ page.title }} | Avatar-CLI Blog{% endblock title %}
{% block ogtitle %}{{ page.title }} | Avatar-CLI Blog{% endblock ogtitle %}

{% block head %}
<meta property="og:url" content="{{ page.permalink | safe }}" />
{% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
<meta property="og:type" content="article" />
<meta name="twitter:site" content="avatar_cli"></meta>
<meta name="twitter:creator" content="castarco"></meta>
{% endblock head %}

{% block header %}
<header class="box-shadow">
    {{ macros::render_header() }}
</header>
{% endblock header %}

{% block content %}
<h1>{{ page.title }}<br/><span class="subtitle-date">{{ page.date }}</span></h1>
{{ page.content | safe }}
{% if page.earlier or page.later %}
<div class="text pager_links">
    {% if page.earlier %}<a href="{{ page.earlier.permalink | safe }}">Previous</a>{% endif %}
    {% if page.earlier and page.later %}&nbsp;···&nbsp;{% endif %}
    {% if page.later %}<a href="{{ page.later.permalink | safe }}">Next</a>{% endif %}
</div>
{% endif %}
{% endblock content %}