{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta property="og:title" content="{% block ogtitle %}{{ config.title }}{% endblock ogtitle %}" />
    <meta property="og:image" content="{{ get_url(path="avatarcli_logo.svg") }}" />
    <meta name="twitter:card" content="summary"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "_variables.html" %}
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path="avatar.css") }}">
    {% block head %}
    <meta property="og:description" content="Avatar-CLI's official website" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ get_url(path="@/_index.md") }}" />
    {% endblock head %}
</head>

<body>
    {% block header %}

    <header class="pos-absolute" style="background-color: transparent">
        {{ macros::render_header() }}
    </header>

    <div class="hero">
        {% block hero %}
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <section class="text-center">
            <h1 class="heading-text" style="font-size: 50px">
                No more "it works on my machine"
            </h1>
            <h3 class="title-text">
                <b>Avatar-CLI</b> is a magic wrapper to run containerized CLI tools as if they were native.
            </h3>
            <div>
                <!-- Place this tag where you want the button to render. -->
                <a href="https://gitlab.com/avatar-cli/avatar-cli/-/starrers">
                    <img src="https://img.shields.io/badge/dynamic/json?color=1b1f23&logo=gitlab&style=for-the-badge&label=stars&query=%24.star_count&url=https%3A%2F%2Fgitlab.com%2Fapi%2Fv4%2Fprojects%2F16768696" />
                </a>
                <a href="https://gitlab.com/avatar-cli/avatar-cli/-/forks/new">
                    <img src="https://img.shields.io/badge/dynamic/json?color=1b1f23&logo=gitlab&style=for-the-badge&label=fork&query=%24.forks_count&url=https%3A%2F%2Fgitlab.com%2Fapi%2Fv4%2Fprojects%2F16768696" />
                </a>
                <a class="github-button" href="https://github.com/avatar-cli/avatar-cli"
                   data-color-scheme="no-preference: dark; light: light; dark: dark;"
                   data-size="large"
                   data-show-count="true"
                   aria-label="Star avatar-cli/avatar-cli on GitHub">Star</a>
                <a class="github-button" href="https://github.com/avatar-cli/avatar-cli/fork"
                   data-color-scheme="no-preference: dark; light: light; dark: dark;"
                   data-size="large"
                   data-show-count="true"
                   aria-label="Fork avatar-cli/avatar-cli on GitHub">Fork</a>
            </div>
        </section>
        <img class="hero-image" style="width: 50%" src="{{ get_url(path="avatarcli_logo.svg") }}">

        <div class="explore-more text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Explore More ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
        {% endblock hero %}
    </div>

    {% endblock header %}

    <main>
        {% block toc %}
        {% if section.toc %}
        {% set toc = section.toc %}
        {% elif page.toc %}
        {% set toc = page.toc %}
        {% endif %}
        {% if toc %}
        <div class="toc">
            <div class="toc-sticky">
                {% for h in toc %}
                <div class="toc-item">
                    <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
                </div>
                {% if h.children %}
                {% for h2 in h.children %}
                <div class="toc-item-child">
                    <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endblock toc %}

        <div class="content text">
            {% block content %}
            <div id="features" class="heading-text">Overview</div>
            {{ section.content | safe }}
            {% endblock content %}
        </div>

    </main>

    {% block footer %}
    <footer>
        <small class="subtext">
            By <a href="https://blog.coderspirit.xyz">Andrés Correa Casablanca</a> © 2020
        </small>
    </footer>
    {% endblock footer %}
</body>
<script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        document.querySelector(".toc a[href='" + pathname + "#" + heading + "']").classList.add("active");
    }

    let currentHeading = "";
    window.onscroll = function () {
        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
</script>

</html>